input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.nobar::-webkit-scrollbar {
  display: none;
}

.nobar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.nobar {
  border: none;
  overflow: auto;
  top: "10%";
  position: "absolute";
  left: "25%";
  right: "auto";
  bottom: "auto";
  width: "54.4%";
  height: "80%";
  margin: "0 auto";
  padding: "10px";
  background-color: "#232321";
  border: "0 px";
}
.buttonShadow {
  -webkit-box-shadow: 3px 3px 19px -3px rgba(13, 43, 173, 0.7);
  box-shadow: 3px 3px 19px -3px rgba(13, 43, 173, 0.7);
}
